<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Altruist | Cart</title>
    <link rel="stylesheet" href="/dist/css/app.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>
<body>
<div id="app" class="gray-background">
    <header class="header" :class="{'mobile-menu-open': showMenu}">
        <div class="container">
            <div class="header-wrapper">
                <a href="/" class="logo">
                    <img src="/src/assets/logo-black.svg" alt="">
                </a>
                <div class="menu-actions-block">
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="/">главная</a>
                            </li>
                            <li>
                                <a href="/pages/collections">коллекции</a>
                            </li>
                            <li>
                                <a href="/pages/payment-info">доставка/оплата</a>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <div class="action-block cart">
                            <a href="/pages/cart" class="icon">
                                <img src="/src/assets/icons/basket.svg" alt="">
                            </a>
                            <div class="counter">
                                <span>{{headerCartCounter}}</span>
                            </div>
                            <div class="cart-notification" :class="{'active': showNotification}">
                                <div class="cart-notification-box">
                                    <div class="cart-notification-box-arrow"></div>
                                    <div class="cart-notification-box-text">
                                        <p>Товар успешно добавлен в корзину!</p>
                                    </div>
                                    <div class="cart-notification-box-close" @click="showNotification = false">
                                        <img src="/src/assets/icons/cross-black.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-block likes">
                            <div class="icon">
                                <img src="/src/assets/icons/like.svg" alt="">
                            </div>
                            <div class="counter">
                                <span>5</span>
                            </div>
                        </div>
                        <button @click="showAuthBlock = true" type="button" class="action-block auth btn-transparent">
                            <span class="icon">
                                <img src="/src/assets/icons/personal-in-black.svg" alt="">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="burger" @click="showMenu = !showMenu">
                    <img src="/src/assets/icons/burger.svg" alt="">
                </div>
            </div>
            <div class="mobile-menu container">
                <div class="mobile-menu-list">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/pages/collections">коллекции</a></li>
                        <li><a href="/pages/payment-info">доставка/оплата</a></li>
                    </ul>
                </div>
                <div class="mobile-menu-contacts">
                    <p>с 9:00 до 21:00</p>
                    <a href="tel:84957777777">+7 495 777 77 77</a>
                </div>
                <div class="mobile-menu-socials">
                    <a href="#" class="mobile-menu-social-icon">
                        <img src="/src/assets/icons/tg.svg" alt="">
                    </a>
                    <a href="#" class="mobile-menu-social-icon">
                        <img src="/src/assets/icons/wa.svg" alt="">
                    </a>
                </div>
                <div class="mobile-menu-actions">
                    <div class="cart-likes">
                        <a href="/pages/cart" class="action-block cart">
                            <div class="icon">
                                <img src="/src/assets/icons/basket.svg" alt="">
                            </div>
                            <div class="counter">
                                <span>{{headerCartCounter}}</span>
                            </div>
                        </a>
                        <a href="#" class="action-block likes">
                            <div class="icon">
                                <img src="/src/assets/icons/like.svg" alt="">
                            </div>
                            <div class="counter">
                                <span>2</span>
                            </div>
                        </a>
                    </div>
                    <div @click="showAuthBlock = true" class="auth">
                        <button type="button" class="action-block auth btn-transparent">
                            <div class="icon">
                                <img src="/src/assets/icons/personal-in-black.svg" alt="">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="auth-form" :class="{'active': showAuthBlock}">
            <div class="left">
                <form>
                    <div class="title">
                        <p>Уже зарегистрированы?</p>
                    </div>
                    <label>
                        <input v-model="loginEmail" class="custom-input custom-input-small" :class="{'error': loginFormSend && loginEmail.length === 0}" type="email" name="email" placeholder="Адрес электронной почты">
                        <span v-if="loginFormSend && loginEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <label>
                        <input v-model="loginPassword" class="custom-input custom-input-small" :class="{'error': loginFormSend && loginEmail.length === 0}" type="password" name="password" placeholder="Пароль">
                        <span v-if="loginFormSend && loginPassword.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <div class="button-block">
                        <button @click="loginFormSend = true" type="button" class="btn black-button border-button">
                            <span>Войти</span>
                        </button>
                    </div>
                    <div class="forgot-pass-block">
                        <a href="#">Я забыл пароль</a>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="close-block">
                    <button type="button" @click="showAuthBlock = false" class="btn-transparent">
                        <img src="/src/assets/icons/cross.svg" alt="">
                    </button>
                </div>
                <form>
                    <div class="title">
                        <p>Вы здесь первый раз?</p>
                    </div>
                    <label>
                        <input v-model="signUpEmail" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpEmail.length === 0}"  type="email" name="email" placeholder="Адрес электронной почты">
                        <span v-if="signInFormSend && signUpEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <label>
                        <input v-model="signUpName" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpName.length === 0}" type="text" name="name" placeholder="Ваше имя">
                        <span v-if="signInFormSend && signUpName.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <label>
                        <input v-model="signUpLastName" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpLastName.length === 0}" type="text" name="last_name" placeholder="Ваша фамилия">
                        <span v-if="signInFormSend && signUpLastName.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <div class="button-block">
                        <button @click="signInFormSend = true" type="button" class="btn white-button-transparent border-button">
                            <span>Войти</span>
                        </button>
                    </div>
                    <div class="terms-block">
                        <p>Нажимая на кнопку Создать аккаунт, Вы соглашаетесь с <a href="#">Условиями и Положениями.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <main class="cart-page">
        <section>
            <div class="container">
                <div class="cart-title">
                    <p>Оформление заказа</p>
                </div>
                <div class="cart-list">
                    <div class="cart-list-goods">
                        <div class="cart-item">
                            <div class="cart-item__image">
                                <img src="/src/assets/cart-item-image.jpg" alt="">
                            </div>
                            <div class="cart-item__info">
                                <div class="title">
                                    <p>
                                        <span class="cart-item-title-name">Шорты из мягкого полотна</span>
                                        <span class="cart-item-title-delimiter">|</span>
                                        <span class="cart-item-title-art">LT5457O02-T0</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <p>2990 р.</p>
                                </div>
                                <div class="info">
                                    <div class="info-property">
                                        <p>
                                            <span class="info-property-key">Цвет:</span>
                                            <span class="info-property-value">мультицвет, разноцветный</span>
                                        </p>
                                        <p>
                                            <span class="info-property-key">Размер:</span>
                                            <span class="info-property-value">М</span>
                                        </p>
                                        <p>
                                            <span class="info-property-key">Количество:</span>
                                            <span class="info-property-value">1 шт</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="cart-item__info-quantity-counter">
                                    <div class="minus">
                                        <button  @click="decrementQuantity(0)" class="btn border-button">
                                            <img class="border-button-icon" src="/src/assets/icons/minus.svg" alt="">
                                        </button>
                                    </div>
                                    <div class="result">
                                        <span>{{products[0].quantity}}</span>
                                    </div>
                                    <div class="plus">
                                        <button  @click="incrementQuantity(0)" class="btn border-button">
                                            <img class="border-button-icon" src="/src/assets/icons/plus.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cart-item">
                            <div class="cart-item__image">
                                <img src="/src/assets/product1.jpg" alt="">
                            </div>
                            <div class="cart-item__info">
                                <div class="title">
                                    <p>
                                        <span class="cart-item-title-name">Шорты из мягкого полотна</span>
                                        <span class="cart-item-title-delimiter">|</span>
                                        <span class="cart-item-title-art">LT5457O02-T0</span>
                                    </p>
                                </div>
                                <div class="price">
                                    <p>2990 р.</p>
                                </div>
                                <div class="info">
                                    <div class="info-property">
                                        <p>
                                            <span class="info-property-key">Цвет:</span>
                                            <span class="info-property-value">мультицвет, разноцветный</span>
                                        </p>
                                        <p>
                                            <span class="info-property-key">Размер:</span>
                                            <span class="info-property-value">М</span>
                                        </p>
                                        <p>
                                            <span class="info-property-key">Количество:</span>
                                            <span class="info-property-value">1 шт</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="cart-item__info-quantity-counter">
                                    <div class="minus">
                                        <button @click="decrementQuantity(1)" class="btn border-button">
                                            <img class="border-button-icon" src="/src/assets/icons/minus.svg" alt="">
                                        </button>
                                    </div>
                                    <div class="result">
                                        <span>{{products[1].quantity}}</span>
                                    </div>
                                    <div @click="incrementQuantity(1)" class="plus">
                                        <button class="btn border-button">
                                            <img class="border-button-icon" src="/src/assets/icons/plus.svg" alt="">
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-list-sum">
                        <div class="title">
                            <p>Итого:</p>
                        </div>
                        <div class="delimiter-block"></div>
                        <div class="price-info">
                            <span class="price-info-sign">1 ТОВАР НА СУММУ</span>
                            <span class="price-info-value">2990₽</span>
                        </div>
                        <div class="price-result">
                            <b class="price-result-sign">ИТОГ</b>
                            <span class="price-result-value">2990₽</span>
                        </div>
                        <div class="delimiter-block"></div>
                        <div class="button-block">
                            <button @click="createOrder()" class="btn border-button black-button">
                                <span>Оформить заказ</span>
                            </button>
                            <div class="checkbox-block">
                                <label class="checkbox-type-1" :class="{'error': !termsCheckbox && orderCreated}">
                                    <input v-model="termsCheckbox" type="checkbox">
                                    <span class="after"></span>
                                </label>
                                <p class="checkbox-block-label">Я принимаю <a href="#">пользовательское соглашение</a> и даю согласие на
                                    <a href="#">обработку персональных данных</a></p>
                            </div>
                            <div class="checkbox-block">
                                <label class="checkbox-type-1" :class="{'error': !mailCheckbox && orderCreated}">
                                    <input v-model="mailCheckbox" type="checkbox">
                                    <span class="after"></span>
                                </label>
                                <p class="checkbox-block-label">Подписаться на рассылку персональных предложений и акций</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="form-block person-form">
                    <div class="form-block-title">
                        <p>Ваши данные</p>
                    </div>
                    <form>
                        <div class="form-row">
                            <label>
                                <input v-model="cartName" class="custom-input" :class="{'error': cartSend && cartName.length === 0}" type="text" name="name" placeholder="Ваше имя">
                                <span v-if="cartSend && cartName.length === 0" class="error">Это поле обязательно к заполнению</span>
                            </label>
                            <label>
                                <input v-model="cartLastName" class="custom-input" :class="{'error': cartSend && cartLastName.length === 0}" type="text" name="last_name" placeholder="Ваше фамилия">
                                <span v-if="cartSend && cartLastName.length === 0" class="error">Это поле обязательно к заполнению</span>
                            </label>
                        </div>
                        <div class="form-row">
                            <label>
                                <input v-model="cartPhone" class="custom-input" :class="{'error': cartSend && cartPhone.length === 0}" type="tel" name="phone" placeholder="Ваш телефон">
                                <span v-if="cartSend && cartPhone.length === 0" class="error">Это поле обязательно к заполнению</span>
                            </label>
                            <label>
                                <input v-model="cartEmail" class="custom-input" :class="{'error': cartSend && cartEmail.length === 0}" type="email" name="email" placeholder="Ваше email">
                                <span v-if="cartSend && cartEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                            </label>
                        </div>
                        <div class="form-row">
                            <label class="text-area-label">
                                <textarea placeholder="Комментарий" class="custom-input" name="comment" id="comment" cols="30" rows="10"></textarea>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="form-block delivery-form">
                    <form>
                        <div class="form-block-title">
                            <p>Данные для доставки</p>
                        </div>
                        <div class="form-block-tabs">
                            <div class="form-block-tab-title" :class="{'active': activeTab === 'courier'}" @click="activeTab = 'courier'">
                                <p>Курьером СДЭК</p>
                            </div>
                            <div class="form-block-tab-title" :class="{'active': activeTab === 'sdek-point'}" @click="activeTab = 'sdek-point'">
                                <p>Самовывоз из ПВЗ СДЭК</p>
                            </div>
                        </div>
                        <div class="tab-content courier-tab" :class="{'active': activeTab === 'courier'}">
                            <form class="courier">
                                <div class="form-row">
                                    <label>
                                        <input class="custom-input" type="text" name="city" placeholder="Ваш город">
                                    </label>
                                    <label>
                                        <input class="custom-input" type="text" name="street" placeholder="Улица, дом, квартира">
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="tab-content sdek-point-tab" :class="{'active': activeTab === 'sdek-point'}">
                            <form>
                                <div class="form-row">
                                    <label>
                                        <input class="custom-input" type="text" name="city" placeholder="Ваш город">
                                    </label>
                                    <label>
                                        <input class="custom-input" type="text" name="street" placeholder="Адрес ПВЗ">
                                    </label>
                                </div>
                            </form>
                            <div class="map-block">
                                <img src="/src/assets/world.jpg" alt="">
                            </div>
                        </div>
                        <div class="action-block">
                            <div class="sdek-delivery-info">
                                <p>Доставка: от 3 дней</p>
                                <p>Cтоимость: от 349 руб.</p>
                            </div>
                            <button @click="cartSend = true" class="btn border-button black-button to-pay-button">
                                <span>Перейти к оплате</span>
                            </button>
                            <div class="social-icons-block">
                                <div class="social-sign">
                                    <p>Оплата онлайн:</p>
                                </div>
                                <div class="social-icon">
                                    <img src="/src/assets/icons/payment-systems/visa.svg" alt="">
                                </div>
                                <div class="social-icon">
                                    <img src="/src/assets/icons/payment-systems/mastercard.svg" alt="">
                                </div>
                                <div class="social-icon">
                                    <img src="/src/assets/icons/payment-systems/maestro.svg" alt="">
                                </div>
                                <div class="social-icon">
                                    <img src="/src/assets/icons/payment-systems/mir.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container d-flex">
            <div class="footer__logo-menu d-flex">
                <a href="/" class="logo">
                    <img src="/src/assets/logo-black.svg" alt="">
                </a>
                <div class="menu">
                    <button type="button" class="personal mobile-auth">
                                <span class="personal__title">
                                    <span>Личный кабинет</span>
                                </span>
                        <span class="personal__icon">
                                    <img src="/src/assets/icons/personal-in-black.svg" alt="">
                                </span>
                    </button>
                    <ul>
                        <li>
                            <a href="/"><span>главная</span></a>
                        </li>
                        <li>
                            <a href="/pages/collections"><span>коллекции</span></a>
                        </li>
                        <li>
                            <a href="/pages/payment-info"><span>доставка/оплата</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__contacts d-flex">
                <div class="footer__contacts-wrapper">
                    <div class="time">
                        <p>с 9:00 до 21:00</p>
                    </div>
                    <div class="phone">
                        <a href="tel:74957777777">+7 495 777 77 77</a>
                    </div>
                    <div class="social d-flex">
                        <a href="#" class="social__block">
                            <img src="/src/assets/icons/tg.svg" alt="">
                        </a>
                        <a href="#" class="social__block">
                            <img src="/src/assets/icons/wa.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__auth">
                <button type="button" class="personal">
                            <span class="personal__title">
                                <span>Личный кабинет</span>
                            </span>
                    <span class="personal__icon">
                                <img src="/src/assets/icons/personal-in-black.svg" alt="">
                            </span>
                </button>
                <div class="org">
                    <p>пао «василек</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js" integrity="sha512-3Ei7OPFo83kw3cPbDLeLhn/YF8tZB7Vs8sfli0B/KEekureL5eosDeshYFICCvt4K8i0yUil/lK3cSiic2Wjkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
<script src="/src/js/index.js"></script>
</body>
</html>