.auth-form.no-absolute {
  position: relative;
  top: 0;
  right: 0;
}
.auth-form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1000;
  .left {
    height: 100%;
    width: 50%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 150px 50px 150px 0;
    form {
      width: 630px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .title {
        width: 100%;
        margin-bottom: 20px;
        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0.225em;
          text-align: center;
        }
      }
      label {
        width: 100%;
        margin-bottom: 10px;
        input {
          width: 100%;
        }
        span.error {
          display: block;
          font-size: 12px;
          color: red;
          letter-spacing: 0.225em;
        }
      }
      .forgot-pass-block {
        width: 100%;
        margin-top: 20px;
        a {
          display: block;
          width: 100%;
          text-decoration: underline!important;
          color: #000!important;
          font-size: 12px;
          letter-spacing: 0.225em;
          text-align: center;
        }
      }
      .button-block {
        width: 100%;
        .btn {
          width: 100%;
          height: 83px;
          span {
            letter-spacing: 0.225em;
          }
        }
      }
    }
  }
  .right {
    position: relative;
    height: 100%;
    width: 50%;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 150px 0 150px 50px;
    .close-block {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 30px;
      top: 30px;
      button {
        width: 20px;
        height: 20px;
        img {
          width: 100%;
        }
      }
    }
    form {
      width: 630px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .title {
        width: 100%;
        margin-bottom: 20px;
        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          letter-spacing: 0.225em;
          color: #fff;
          text-align: center;
        }
      }
      label {
        width: 100%;
        margin-bottom: 10px;
        input {
          width: 100%;
          font-weight: 500;
        }
        span.error {
          display: block;
          font-size: 12px;
          color: #fff;
          letter-spacing: 0.225em;
        }
      }
      .button-block {
        width: 100%;
        .btn {
          width: 100%;
          height: 83px;
          span {
            letter-spacing: 0.225em;
          }
        }
      }
      .terms-block {
        margin-top: 20px;
        p {
          color: #fff;
          font-size: 12px;
          letter-spacing: 0.21em;
          text-align: center;
          a {
            text-decoration: underline!important;
            color: #fff!important;
            font-size: 12px;
            letter-spacing: 0.225em;
          }
        }
      }
    }
  }
}
.auth-form.active {
  display: flex;
}
@media (max-width: 1440px) {
  .auth-form {
    .left {
      form {
        width: 530px;
        .title {
          p {}
        }
        label {
          input {
            width: 100%;
          }
          span.error {
            display: block;
            font-size: 12px;
            color: red;
            letter-spacing: 0.225em;
          }
        }
        .forgot-pass-block {
          a {}
        }
        .button-block {
          .btn {}
        }
      }
    }
    .right {
      .close-block {
        button {
          img {
            width: 100%;
          }
        }
      }
      form {
        width: 530px;
        .title {
          width: 100%;
          margin-bottom: 20px;
          p {}
        }
        label {
          input {}
          span.error {
            display: block;
            font-size: 12px;
            color: #fff;
            letter-spacing: 0.225em;
          }
        }
        .button-block {
          .btn {}
        }
        .terms-block {
          p {
            a {}
          }
        }
      }
    }
  }
  .auth-form.active {
    display: flex;
  }
}
@media (max-width: 1290px) {
  .auth-form {
    .left {
      padding: 150px 20px 150px 0 ;
      form {
        width: 360px;
        .title {
          p {}
        }
        label {
          input {
            width: 100%;
          }
          span.error {
            display: block;
            font-size: 12px;
            color: red;
            letter-spacing: 0.225em;
          }
        }
        .forgot-pass-block {
          a {}
        }
        .button-block {
          .btn {}
        }
      }
    }
    .right {
      padding: 150px 0 150px 20px;
      .close-block {
        button {
          img {
            width: 100%;
          }
        }
      }
      form {
        width: 360px;
        .title {
          width: 100%;
          margin-bottom: 20px;
          p {}
        }
        label {
          input {}
          span.error {
            display: block;
            font-size: 12px;
            color: #fff;
            letter-spacing: 0.225em;
          }
        }
        .button-block {
          .btn {}
        }
        .terms-block {
          p {
            a {}
          }
        }
      }
    }
  }
  .auth-form.active {
    display: flex;
  }
}
@media (max-width: 769px) {
  .auth-form {
    flex-direction: column;
    .left {
      height: 100%;
      width: 100%;
      padding: 100px 10%;
      form {
        width: 100%;
        max-width: 540px;
        .title {
          p {}
        }
        label {
          input {
            width: 100%;
          }
        }
        .forgot-pass-block {
          width: 100%;
          margin-top: 20px;
          a {}
        }
        .button-block {
          width: 100%;
          .btn {
            width: 100%;
          }
        }
      }
    }
    .right {
      width: 100%;
      .close-block {
        button {
          img {
            width: 100%;
          }
        }
      }
      form {
        width: 100%;
        max-width: 540px;
        .title {
          width: 100%;
          margin-bottom: 20px;
          p {}
        }
        label {
          input {}
        }
        .button-block {
          width: 100%;
          .btn {
            width: 100%;
          }
        }
        .terms-block {
          margin-top: 20px;
          p {
            a {}
          }
        }
      }
    }
  }
  .auth-form.active {
    display: flex;
  }
}
@media (max-width: 576px) {
  .auth-form {
    flex-direction: column;
    .left {
      height: 100%;
      width: 100%;
      padding: 100px 0;
      form {
        width: 100%;
        max-width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        .title {
          p {}
        }
        label {
          input {
            width: 100%;
          }
        }
        .forgot-pass-block {
          width: 100%;
          margin-top: 20px;
          a {}
        }
        .button-block {
          width: 100%;
          .btn {
            width: 100%;
          }
        }
      }
    }
    .right {
      width: 100%;
      padding: 100px 0;
      .close-block {
        button {
          img {
            width: 100%;
          }
        }
      }
      form {
        width: 100%;
        max-width: 540px;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        .title {
          width: 100%;
          margin-bottom: 20px;
          p {}
        }
        label {
          input {}
        }
        .button-block {
          width: 100%;
          .btn {
            width: 100%;
          }
        }
        .terms-block {
          margin-top: 20px;
          p {
            a {}
          }
        }
      }
    }
  }
  .auth-form.active {
    display: flex;
  }
}