<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Altruist | Main page</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/dist/css/app.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>
<body>
<div id="app">
    <div class="no-desktop">
        <header class="header" :class="{'mobile-menu-open': showMenu}">
            <div class="container">
                <div class="header-wrapper">
                    <a href="/" class="logo">
                        <img src="/src/assets/logo-black.svg" alt="">
                    </a>
                    <div class="menu-actions-block">
                        <div class="menu">
                            <ul>
                                <li>
                                    <a href="/">главная</a>
                                </li>
                                <li>
                                    <a href="/pages/collections">коллекции</a>
                                </li>
                                <li>
                                    <a href="/pages/payment-info">доставка/оплата</a>
                                </li>
                            </ul>
                        </div>
                        <div class="actions">
                            <div class="action-block cart">
                                <a href="/pages/cart" class="icon">
                                    <img src="/src/assets/icons/basket.svg" alt="">
                                </a>
                                <div class="counter">
                                    <span>{{headerCartCounter}}</span>
                                </div>
                                <div class="cart-notification" :class="{'active': showNotification}">
                                    <div class="cart-notification-box">
                                        <div class="cart-notification-box-arrow"></div>
                                        <div class="cart-notification-box-text">
                                            <p>Товар успешно добавлен в корзину!</p>
                                        </div>
                                        <div class="cart-notification-box-close" @click="showNotification = false">
                                            <img src="/src/assets/icons/cross-black.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="action-block likes">
                                <div class="icon">
                                    <img src="/src/assets/icons/like.svg" alt="">
                                </div>
                                <div class="counter">
                                    <span>5</span>
                                </div>
                            </div>
                            <button @click="showAuthBlock = true" type="button" class="action-block auth btn-transparent">
                                <span class="icon">
                                    <img src="/src/assets/icons/personal-in-black.svg" alt="">
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="burger" @click="showMenu = !showMenu">
                        <img src="/src/assets/icons/burger.svg" alt="">
                    </div>
                </div>
                <div class="mobile-menu container">
                    <div class="mobile-menu-list">
                        <ul>
                            <li><a href="/">Главная</a></li>
                            <li><a href="/pages/collections">коллекции</a></li>
                            <li><a href="/pages/payment-info">доставка/оплата</a></li>
                        </ul>
                    </div>
                    <div class="mobile-menu-contacts">
                        <p>с 9:00 до 21:00</p>
                        <a href="tel:84957777777">+7 495 777 77 77</a>
                    </div>
                    <div class="mobile-menu-socials">
                        <a href="#" class="mobile-menu-social-icon">
                            <img src="/src/assets/icons/tg.svg" alt="">
                        </a>
                        <a href="#" class="mobile-menu-social-icon">
                            <img src="/src/assets/icons/wa.svg" alt="">
                        </a>
                    </div>
                    <div class="mobile-menu-actions">
                        <div class="cart-likes">
                            <a href="/pages/cart" class="action-block cart">
                                <div class="icon">
                                    <img src="/src/assets/icons/basket.svg" alt="">
                                </div>
                                <div class="counter">
                                    <span>{{headerCartCounter}}</span>
                                </div>
                            </a>
                            <a href="#" class="action-block likes">
                                <div class="icon">
                                    <img src="/src/assets/icons/like.svg" alt="">
                                </div>
                                <div class="counter">
                                    <span>2</span>
                                </div>
                            </a>
                        </div>
                        <div @click="showAuthBlock = true" class="auth">
                            <button type="button" class="action-block auth btn-transparent">
                                <div class="icon">
                                    <img src="/src/assets/icons/personal-in-black.svg" alt="">
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auth-form" :class="{'active': showAuthBlock}">
                <div class="left">
                    <form>
                        <div class="title">
                            <p>Уже зарегистрированы?</p>
                        </div>
                        <label>
                            <input v-model="loginEmail" class="custom-input custom-input-small" :class="{'error': loginFormSend && loginEmail.length === 0}" type="email" name="email" placeholder="Адрес электронной почты">
                            <span v-if="loginFormSend && loginEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                        </label>
                        <label>
                            <input v-model="loginPassword" class="custom-input custom-input-small" :class="{'error': loginFormSend && loginEmail.length === 0}" type="password" name="password" placeholder="Пароль">
                            <span v-if="loginFormSend && loginPassword.length === 0" class="error">Это поле обязательно к заполнению</span>
                        </label>
                        <div class="button-block">
                            <button @click="loginFormSend = true" type="button" class="btn black-button border-button">
                                <span>Войти</span>
                            </button>
                        </div>
                        <div class="forgot-pass-block">
                            <a href="#">Я забыл пароль</a>
                        </div>
                    </form>
                </div>
                <div class="right">
                    <div class="close-block">
                        <button type="button" @click="showAuthBlock = false" class="btn-transparent">
                            <img src="/src/assets/icons/cross.svg" alt="">
                        </button>
                    </div>
                    <form>
                        <div class="title">
                            <p>Вы здесь первый раз?</p>
                        </div>
                        <label>
                            <input v-model="signUpEmail" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpEmail.length === 0}"  type="email" name="email" placeholder="Адрес электронной почты">
                            <span v-if="signInFormSend && signUpEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                        </label>
                        <label>
                            <input v-model="signUpName" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpName.length === 0}" type="text" name="name" placeholder="Ваше имя">
                            <span v-if="signInFormSend && signUpName.length === 0" class="error">Это поле обязательно к заполнению</span>
                        </label>
                        <label>
                            <input v-model="signUpLastName" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpLastName.length === 0}" type="text" name="last_name" placeholder="Ваша фамилия">
                            <span v-if="signInFormSend && signUpLastName.length === 0" class="error">Это поле обязательно к заполнению</span>
                        </label>
                        <div class="button-block">
                            <button @click="signInFormSend = true" type="button" class="btn white-button-transparent border-button">
                                <span>Войти</span>
                            </button>
                        </div>
                        <div class="terms-block">
                            <p>Нажимая на кнопку Создать аккаунт, Вы соглашаетесь с <a href="#">Условиями и Положениями.</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </header>
    </div>
    <main class="main">
        <section>
            <div class="first-block d-flex w-100">
                <div class="overlay" :class="{'show-overlay': showAuthBlock}">
                    <div class="auth-form no-absolute" :class="{'active': showAuthBlock}">
                        <div class="left">
                            <form>
                                <div class="title">
                                    <p>Уже зарегистрированы?</p>
                                </div>
                                <label>
                                    <input v-model="loginEmail" class="custom-input custom-input-small" :class="{'error': loginFormSend && loginEmail.length === 0}" type="email" name="email" placeholder="Адрес электронной почты">
                                    <span v-if="loginFormSend && loginEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                                </label>
                                <label>
                                    <input v-model="loginPassword" class="custom-input custom-input-small" :class="{'error': loginFormSend && loginEmail.length === 0}" type="password" name="password" placeholder="Пароль">
                                    <span v-if="loginFormSend && loginPassword.length === 0" class="error">Это поле обязательно к заполнению</span>
                                </label>
                                <div class="button-block">
                                    <button @click="loginFormSend = true" type="button" class="btn black-button border-button">
                                        <span>Войти</span>
                                    </button>
                                </div>
                                <div class="forgot-pass-block">
                                    <a href="#">Я забыл пароль</a>
                                </div>
                            </form>
                        </div>
                        <div class="right">
                            <div class="close-block">
                                <button type="button" @click="showAuthBlock = false" class="btn-transparent">
                                    <img src="/src/assets/icons/cross.svg" alt="">
                                </button>
                            </div>
                            <form>
                                <div class="title">
                                    <p>Вы здесь первый раз?</p>
                                </div>
                                <label>
                                    <input v-model="signUpEmail" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpEmail.length === 0}"  type="email" name="email" placeholder="Адрес электронной почты">
                                    <span v-if="signInFormSend && signUpEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                                </label>
                                <label>
                                    <input v-model="signUpName" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpName.length === 0}" type="text" name="name" placeholder="Ваше имя">
                                    <span v-if="signInFormSend && signUpName.length === 0" class="error">Это поле обязательно к заполнению</span>
                                </label>
                                <label>
                                    <input v-model="signUpLastName" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpLastName.length === 0}" type="text" name="last_name" placeholder="Ваша фамилия">
                                    <span v-if="signInFormSend && signUpLastName.length === 0" class="error">Это поле обязательно к заполнению</span>
                                </label>
                                <div class="button-block">
                                    <button @click="signInFormSend = true" type="button" class="btn white-button-transparent border-button">
                                        <span>Войти</span>
                                    </button>
                                </div>
                                <div class="terms-block">
                                    <p>Нажимая на кнопку Создать аккаунт, Вы соглашаетесь с <a href="#">Условиями и Положениями.</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="first-block__menu">
                    <div class="background-block">
                        <img src="/src/assets/first-block-1.jpg" alt="">
                    </div>
                    <div class="menu-block">
                        <div class="menu-block-wrapper d-flex">
                            <a href="/" class="logo">
                                <img src="/src/assets/logo-white.svg" alt="">
                            </a>
                            <div class="list">
                                <ul>
                                    <li>
                                        <a href="/">
                                            <span>главная</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages/collections">
                                            <span>коллекции</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="pages/payment-info">
                                            <span>доставка/оплата</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="auth-block">
                                <button @click="showAuthBlock = true" type="button" class="personal">
                                        <span class="personal__title">
                                            <span>Личный кабинет</span>
                                        </span>
                                    <span class="personal__icon">
                                            <img src="/src/assets/icons/personal-in-black.svg" alt="">
                                        </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="first-block__call-to-action">
                    <div class="background-block">
                        <img src="/src/assets/first-block-2.jpg" alt="">
                    </div>
                    <div class="call-to_action-block blur-block">
                        <a href="#" class="link">
                                <span class="link-text">
                                    хочу
                                </span>
                            <span class="link-arrow">
                                    <img src="/src/assets/icons/arrow.svg" alt="">
                                </span>
                        </a>
                        <div class="texts">
                            <div class="large-text">
                                <span>Стильно.</span>
                                <span>Модно.</span>
                                <span>Красиво.</span>
                                <span>Надежно.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="content-block philosophy-block">
                <div class="container">
                    <div class="circle-image">
                        <img src="/src/assets/circle.svg" alt="">
                    </div>
                    <div class="title">
                        <p>наша философия.</p>
                    </div>
                    <div class="content">
                        <p>
                            <span>Мы создаем образы для тех,</span>
                            <span>кто хочет часто менять наряды.</span>
                            <span class="gray-text">Alttruist – мода на правдивой высоте.</span>
                            <span>Alt – высота, tru – причастность,</span>
                            <span>ist – мы не придумали, но звучит</span>
                            <span>красиво, а?</span>
                        </p>
                    </div>
                    <div class="link">
                        <div class="link__image">
                            <img src="/src/assets/text-link.png" alt="">
                        </div>
                        <div class="link__text">
                            <p><a href="#">посмотреть</a> историю создания бренда.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="collections">
                <div class="collections-row">
                    <div class="collections-preview-block text-right black-text-button">
                        <div class="background-block">
                            <img src="/src/assets/collection-1.jpg" alt="">
                        </div>
                        <div class="collections-preview-block-name blur-block">
                            <a href="pages/collection-card" class="link">
                                <span class="link-text">
                                    хочу
                                </span>
                                <span class="link-arrow">
                                    <img src="/src/assets/icons/arrow-black.svg" alt="">
                                </span>
                            </a>
                            <div class="texts">
                                <div class="small-text">
                                    <span>коллекция</span>
                                </div>
                                <div class="large-text">
                                    <span>weekend</span>
                                    <span>style.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collections-preview-block text-left black-text-button">
                        <div class="background-block">
                            <img src="/src/assets/collection-2.jpg" alt="">
                        </div>
                        <div class="collections-preview-block-name blur-block">
                            <a href="pages/collection-card" class="link">
                                <span class="link-text">
                                    хочу
                                </span>
                                <span class="link-arrow">
                                    <img src="/src/assets/icons/arrow-black.svg" alt="">
                                </span>
                            </a>
                            <div class="texts">
                                <div class="small-text">
                                    <span>коллекция</span>
                                </div>
                                <div class="large-text">
                                    <span>Shal’naya</span>
                                    <span>Imperatrica</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collections-row">
                    <div class="collections-preview-block text-right black-text-button">
                        <div class="background-block">
                            <img src="/src/assets/collection-3.jpg" alt="">
                        </div>
                        <div class="collections-preview-block-name blur-block">
                            <a href="pages/collection-card" class="link">
                                <span class="link-text">
                                    хочу
                                </span>
                                <span class="link-arrow">
                                    <img src="/src/assets/icons/arrow-black.svg" alt="">
                                </span>
                            </a>
                            <div class="texts">
                                <div class="small-text">
                                    <span>коллекция</span>
                                </div>
                                <div class="large-text">
                                    <span>Знакомство</span>
                                    <span>с родителями</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collections-preview-block text-left black-text-button">
                        <div class="background-block">
                            <img src="/src/assets/collection-4.jpg" alt="">
                        </div>
                        <div class="collections-preview-block-name blur-block">
                            <a href="pages/collection-card" class="link">
                                <span class="link-text">
                                    хочу
                                </span>
                                <span class="link-arrow">
                                    <img src="/src/assets/icons/arrow-black.svg" alt="">
                                </span>
                            </a>
                            <div class="texts">
                                <div class="small-text">
                                    <span>коллекция</span>
                                </div>
                                <div class="large-text">
                                    <span>Ягодка</span>
                                    <span>опять</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collections-row">
                    <div class="collections-preview-block text-right black-text-button">
                        <div class="background-block">
                            <img src="/src/assets/collection-5.jpg" alt="">
                        </div>
                        <div class="collections-preview-block-name blur-block">
                            <a href="pages/collection-card" class="link">
                                <span class="link-text">
                                    хочу
                                </span>
                                <span class="link-arrow">
                                    <img src="/src/assets/icons/arrow-black.svg" alt="">
                                </span>
                            </a>
                            <div class="texts">
                                <div class="small-text">
                                    <span>коллекция</span>
                                </div>
                                <div class="large-text">
                                    <span>И в зал,</span>
                                    <span>и в ресторан</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collections-preview-block text-left black-text-button">
                        <div class="background-block">
                            <img src="/src/assets/collection-6.jpg" alt="">
                        </div>
                        <div class="collections-preview-block-name blur-block">
                            <a href="pages/collection-card" class="link">
                                <span class="link-text">
                                    хочу
                                </span>
                                <span class="link-arrow">
                                    <img src="/src/assets/icons/arrow-black.svg" alt="">
                                </span>
                            </a>
                            <div class="texts">
                                <div class="small-text">
                                    <span>коллекция</span>
                                </div>
                                <div class="large-text">
                                    <span>Молодо-</span>
                                    <span>Зелено</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container d-flex">
            <div class="footer__logo-menu d-flex">
                <a href="/" class="logo">
                    <img src="/src/assets/logo-black.svg" alt="">
                </a>
                <div class="menu">
                    <button type="button" class="personal mobile-auth">
                                <span class="personal__title">
                                    <span>Личный кабинет</span>
                                </span>
                        <span class="personal__icon">
                                    <img src="/src/assets/icons/personal-in-black.svg" alt="">
                                </span>
                    </button>
                    <ul>
                        <li>
                            <a href="/"><span>главная</span></a>
                        </li>
                        <li>
                            <a href="/pages/collections"><span>коллекции</span></a>
                        </li>
                        <li>
                            <a href="/pages/payment-info"><span>доставка/оплата</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__contacts d-flex">
                <div class="footer__contacts-wrapper">
                    <div class="time">
                        <p>с 9:00 до 21:00</p>
                    </div>
                    <div class="phone">
                        <a href="tel:74957777777">+7 495 777 77 77</a>
                    </div>
                    <div class="social d-flex">
                        <a href="#" class="social__block">
                            <img src="/src/assets/icons/tg.svg" alt="">
                        </a>
                        <a href="#" class="social__block">
                            <img src="/src/assets/icons/wa.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__auth">
                <button type="button" class="personal">
                            <span class="personal__title">
                                <span>Личный кабинет</span>
                            </span>
                    <span class="personal__icon">
                                <img src="/src/assets/icons/personal-in-black.svg" alt="">
                            </span>
                </button>
                <div class="org">
                    <p>пао «василек</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js" integrity="sha512-3Ei7OPFo83kw3cPbDLeLhn/YF8tZB7Vs8sfli0B/KEekureL5eosDeshYFICCvt4K8i0yUil/lK3cSiic2Wjkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
<script src="/src/js/index.js"></script>
</body>
</html>