.account {
  margin-top: 100px;
  .account-title {
    margin-bottom: 40px;
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.225em;
      text-transform: lowercase;
    }
  }
  .account-tabs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .account-tab-contents {
      width: calc(100% - 300px);
      padding: 0 50px 0 0 ;
      .account-tab-content {
        display: none;
      }
      .account-tab-content.active {
        display: block;
      }
      .account-tab-content.profile {
        form {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          label {
            width: 100%;
            &:not(:last-child) {
              margin-bottom: 10px;
            }
            input {
              width: 50%;
              height: 50px;
            }
            span {
              width: 50%;
              margin-left: 20px;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.225em;
              color: #BABBC1;
              cursor: pointer;
            }
          }
          button {
            width: 50%;
            height: 50px;
            span {
              letter-spacing: .225em;
              font-size: 16px;
            }
          }
        }
      }
      .account-tab-content.faq {
        .accordion-subtitle {
          p {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.225em;
            text-transform: lowercase;
          }
        }
        .accordion {
          margin-top: 30px;
        }
      }
      .button-block {
        margin: 40px 0 0 0;
        display: flex;
        align-items: center;
        width: 1130px;
        @media (max-width: 1200px) {
          align-items: flex-start;
          flex-direction: column;
        }
        .btn.to-main {
          height: 92px;
          padding: 0 30px;
          span {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.225em;
          }
        }
        .btn.to-special-question {
          margin: 0 10px 0 0;
          height: 92px;
          padding: 0 25px;
          display: none;
          span {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.225em;
          }
        }
      }
    }
    .account-tab-titles {
      width: 300px;
      .account-tab-title {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &:hover {
          .account-tab-title-block {
            background: #000;
            p {
              color: #fff;
            }
          }
        }
        &-block {
          cursor: pointer;
          border: 1px solid #000;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 50px;
          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.225em;
          }
        }
      }
      .account-tab-title.active {
        .account-tab-title-block {
          background: #000;
          p {
            color: #fff;
          }
        }
      }
      .account-tab-title.orders {}
      .account-tab-title.profile {}
      .account-tab-title.history {}
      .account-tab-title.faq {}
    }
  }
}
@media (max-width: 769px) {
  .account-page {
    padding: 92px 0 0 0;
  }
  .account {
    margin: 0;
    .account-title {
      margin-top: 40px;
      margin-bottom: 40px;
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.225em;
        text-transform: lowercase;
      }
    }
    .account-tabs {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: space-between;
      .account-tab-contents {
        width: 100%;
        padding: 0;
        margin: 40px 0 0 0;
        .account-tab-content {
          display: none;
        }
        .account-tab-content.active {
          display: block;
        }
        .account-tab-content.profile {
          form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .mobile-action {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.225em;
              text-transform: lowercase;
              text-align: center;
              margin: 0 auto 40px;
              color: #BABBC1;
              display: block;
              white-space: nowrap;
              width: 100%;
            }
            label {
              width: 100%;
              &:not(:last-child) {
                margin-bottom: 10px;
              }
              input {
                width: 100%;
                height: 50px;
              }
              span {
                display: none;
              }
            }
            button {
              width: 100%;
              padding: 15px 20px;
            }
          }
        }
        .button-block {
          margin: 40px 0 0 0;
          .btn {
            height: 92px;
            padding: 0 20px;
            span {
              font-weight: 700;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.225em;
            }
          }
        }
      }
      .account-tab-titles {
        width: 100%;
        .account-tab-title {
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &:hover {
            .account-tab-title-block {
              background: #000;
              p {
                color: #fff;
              }
            }
          }
          &-block {
            cursor: pointer;
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            p {
              font-weight: 500;
              font-size: 16px;
              line-height: 19px;
              letter-spacing: 0.225em;
            }
          }
        }
        .account-tab-title.active {
          .account-tab-title-block {
            background: #000;
            p {
              color: #fff;
            }
          }
        }
        .account-tab-title.orders {}
        .account-tab-title.profile {}
        .account-tab-title.history {}
        .account-tab-title.faq {}
      }
    }
  }
}
@import "account-order-item";