<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Altruist | Payment info</title>
    <link rel="stylesheet" href="/dist/css/app.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>
<body>
<div id="app">
    <header class="header" :class="{'mobile-menu-open': showMenu}">
        <div class="container">
            <div class="header-wrapper">
                <a href="/" class="logo">
                    <img src="/src/assets/logo-black.svg" alt="">
                </a>
                <div class="menu-actions-block">
                    <div class="menu">
                        <ul>
                            <li>
                                <a href="/">главная</a>
                            </li>
                            <li>
                                <a href="/pages/collections">коллекции</a>
                            </li>
                            <li>
                                <a href="/pages/payment-info">доставка/оплата</a>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <div class="action-block cart">
                            <a href="/pages/cart" class="icon">
                                <img src="/src/assets/icons/basket.svg" alt="">
                            </a>
                            <div class="counter">
                                <span>{{headerCartCounter}}</span>
                            </div>
                            <div class="cart-notification" :class="{'active': showNotification}">
                                <div class="cart-notification-box">
                                    <div class="cart-notification-box-arrow"></div>
                                    <div class="cart-notification-box-text">
                                        <p>Товар успешно добавлен в корзину!</p>
                                    </div>
                                    <div class="cart-notification-box-close" @click="showNotification = false">
                                        <img src="/src/assets/icons/cross-black.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-block likes">
                            <div class="icon">
                                <img src="/src/assets/icons/like.svg" alt="">
                            </div>
                            <div class="counter">
                                <span>5</span>
                            </div>
                        </div>
                        <button @click="showAuthBlock = true" type="button" class="action-block auth btn-transparent">
                            <span class="icon">
                                <img src="/src/assets/icons/personal-in-black.svg" alt="">
                            </span>
                        </button>
                    </div>
                </div>
                <div class="burger" @click="showMenu = !showMenu">
                    <img src="/src/assets/icons/burger.svg" alt="">
                </div>
            </div>
            <div class="mobile-menu container">
                <div class="mobile-menu-list">
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/pages/collections">коллекции</a></li>
                        <li><a href="/pages/payment-info">доставка/оплата</a></li>
                    </ul>
                </div>
                <div class="mobile-menu-contacts">
                    <p>с 9:00 до 21:00</p>
                    <a href="tel:84957777777">+7 495 777 77 77</a>
                </div>
                <div class="mobile-menu-socials">
                    <a href="#" class="mobile-menu-social-icon">
                        <img src="/src/assets/icons/tg.svg" alt="">
                    </a>
                    <a href="#" class="mobile-menu-social-icon">
                        <img src="/src/assets/icons/wa.svg" alt="">
                    </a>
                </div>
                <div class="mobile-menu-actions">
                    <div class="cart-likes">
                        <a href="/pages/cart" class="action-block cart">
                            <div class="icon">
                                <img src="/src/assets/icons/basket.svg" alt="">
                            </div>
                            <div class="counter">
                                <span>{{headerCartCounter}}</span>
                            </div>
                        </a>
                        <a href="#" class="action-block likes">
                            <div class="icon">
                                <img src="/src/assets/icons/like.svg" alt="">
                            </div>
                            <div class="counter">
                                <span>2</span>
                            </div>
                        </a>
                    </div>
                    <div @click="showAuthBlock = true" class="auth">
                        <button type="button" class="action-block auth btn-transparent">
                            <div class="icon">
                                <img src="/src/assets/icons/personal-in-black.svg" alt="">
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="auth-form" :class="{'active': showAuthBlock}">
            <div class="left">
                <form>
                    <div class="title">
                        <p>Уже зарегистрированы?</p>
                    </div>
                    <label>
                        <input v-model="loginEmail" class="custom-input custom-input-small" :class="{'error': loginFormSend && loginEmail.length === 0}" type="email" name="email" placeholder="Адрес электронной почты">
                        <span v-if="loginFormSend && loginEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <label>
                        <input v-model="loginPassword" class="custom-input custom-input-small" :class="{'error': loginFormSend && loginEmail.length === 0}" type="password" name="password" placeholder="Пароль">
                        <span v-if="loginFormSend && loginPassword.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <div class="button-block">
                        <button @click="loginFormSend = true" type="button" class="btn black-button border-button">
                            <span>Войти</span>
                        </button>
                    </div>
                    <div class="forgot-pass-block">
                        <a href="#">Я забыл пароль</a>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="close-block">
                    <button type="button" @click="showAuthBlock = false" class="btn-transparent">
                        <img src="/src/assets/icons/cross.svg" alt="">
                    </button>
                </div>
                <form>
                    <div class="title">
                        <p>Вы здесь первый раз?</p>
                    </div>
                    <label>
                        <input v-model="signUpEmail" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpEmail.length === 0}"  type="email" name="email" placeholder="Адрес электронной почты">
                        <span v-if="signInFormSend && signUpEmail.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <label>
                        <input v-model="signUpName" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpName.length === 0}" type="text" name="name" placeholder="Ваше имя">
                        <span v-if="signInFormSend && signUpName.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <label>
                        <input v-model="signUpLastName" class="custom-input custom-input-small white-input" :class="{'error': signInFormSend && signUpLastName.length === 0}" type="text" name="last_name" placeholder="Ваша фамилия">
                        <span v-if="signInFormSend && signUpLastName.length === 0" class="error">Это поле обязательно к заполнению</span>
                    </label>
                    <div class="button-block">
                        <button @click="signInFormSend = true" type="button" class="btn white-button-transparent border-button">
                            <span>Войти</span>
                        </button>
                    </div>
                    <div class="terms-block">
                        <p>Нажимая на кнопку Создать аккаунт, Вы соглашаетесь с <a href="#">Условиями и Положениями.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <main class="payment-info-page">
        <section>
            <div class="payment-info">
                <div class="container">
                    <div class="content-block">
                        <div class="title">
                            <p>доставка/оплата</p>
                        </div>
                        <div class="text">
                            <h2>мы осуществляем доставку курьерской службой сдэк</h2>
                            <p>Все заказы оформляются и оплачиваются на сайте.
                                Для успешного оформления заказа оплату нужно произвести в течение 20 минут,
                                в противном случае товар не резервируется и заказ отменяется.</p>

                            <p> Убедительная просьба. При получении посылки в ТК проверяйте целостность упаковки. При
                                наличии повреждений оформляйте претензию на месте получения. За порчу товара во время
                                транспортировки ответственность не несем.</p>
                        </div>
                        <div class="payment-systems">
                            <div class="payment-systems-title">
                                <p>Оплата происходит через ПАО СБЕРБАНК с использованием банковских карт следующих платёжных систем:</p>
                            </div>
                            <div class="payment-systems-icons">
                                <div class="payment-systems-icon">
                                    <img src="/src/assets/icons/payment-systems/visa.svg" alt="">
                                </div>
                                <div class="payment-systems-icon">
                                    <img src="/src/assets/icons/payment-systems/mastercard.svg" alt="">
                                </div>
                                <div class="payment-systems-icon">
                                    <img src="/src/assets/icons/payment-systems/maestro.svg" alt="">
                                </div>
                                <div class="payment-systems-icon">
                                    <img src="/src/assets/icons/payment-systems/mir.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <b>Срок возврата товара надлежащего качества составляет 30 днейс момента получения товара, за
                                исключением товаров, неподлежащих возврату по Закон РФ от 07.02.1992 N 2300-1 (ред. от
                                03.07.2016) «О защите прав потребителей»</b>
                            <p>Возврат переведённых средств, производится на ваш банковский счёт в течение 5-30 рабочих дней
                                (срок зависит от банка, который выдал вашу банковскую карту).</p>
                        </div>
                        <div class="button-block">
                            <button class="btn border-button">
                                <span>выбрать себе что-то красивое</span>
                                <img class="border-button-icon right-icon" src="/src/assets/icons/arrow-black.svg" alt="">
                            </button>
                        </div>
                    </div>
                    <div class="image-block">
                        <img src="/src/assets/payment-back.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container d-flex">
            <div class="footer__logo-menu d-flex">
                <a href="/" class="logo">
                    <img src="/src/assets/logo-black.svg" alt="">
                </a>
                <div class="menu">
                    <button type="button" class="personal mobile-auth">
                                <span class="personal__title">
                                    <span>Личный кабинет</span>
                                </span>
                        <span class="personal__icon">
                                    <img src="/src/assets/icons/personal-in-black.svg" alt="">
                                </span>
                    </button>
                    <ul>
                        <li>
                            <a href="/"><span>главная</span></a>
                        </li>
                        <li>
                            <a href="/pages/collections"><span>коллекции</span></a>
                        </li>
                        <li>
                            <a href="/pages/payment-info"><span>доставка/оплата</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__contacts d-flex">
                <div class="footer__contacts-wrapper">
                    <div class="time">
                        <p>с 9:00 до 21:00</p>
                    </div>
                    <div class="phone">
                        <a href="tel:74957777777">+7 495 777 77 77</a>
                    </div>
                    <div class="social d-flex">
                        <a href="#" class="social__block">
                            <img src="/src/assets/icons/tg.svg" alt="">
                        </a>
                        <a href="#" class="social__block">
                            <img src="/src/assets/icons/wa.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__auth">
                <button type="button" class="personal">
                            <span class="personal__title">
                                <span>Личный кабинет</span>
                            </span>
                    <span class="personal__icon">
                                <img src="/src/assets/icons/personal-in-black.svg" alt="">
                            </span>
                </button>
                <div class="org">
                    <p>пао «василек</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.4.1/swiper-bundle.min.js" integrity="sha512-3Ei7OPFo83kw3cPbDLeLhn/YF8tZB7Vs8sfli0B/KEekureL5eosDeshYFICCvt4K8i0yUil/lK3cSiic2Wjkg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
<script src="/src/js/index.js"></script>
</body>
</html>