.collection-card-first-block {
  height: 720px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  .background-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .blur-block {
    width: 463px;
    height: 233px;
  }
}