.delivery-block {
  margin: 100px 0 80px;
  .title {
    max-width: 870px;
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      letter-spacing: 0.225em;
      text-transform: lowercase;
    }
    h2 {
      margin: 40px 0 0 0;
      font-family: 'Aromanus', sans-serif;
      font-size: 66px;
      text-transform: uppercase;
      letter-spacing: initial;
    }
  }
  .content {
    margin: 40px 0 0 0;
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.225em;
    }
  }
  .button-block {
    margin: 40px 0 0 0;
    button {
      padding: 30px 30px;
      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.225em;
      }
    }
  }
}