.email-subscription-block {
  background: rgba(186, 187, 193, 0.2);
  padding: 100px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      h3 {
        font-family: 'Aromanus', sans-serif;
        text-transform: uppercase;
        font-size: 40px;
        letter-spacing: initial;
        margin: 0;
      }
      p {
        margin: 20px 0 0 0!important;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.225em;
      }
    }
    .form {
      form {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        input {
          width: 330px;
        }
      }
      button {
        height: 83px;
        padding: 32px 30px;
        span {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.225em;
        }
      }
    }
  }
}