.footer {
  padding: 150px 0;
  .container {
    justify-content: space-between;
  }
  &__logo-menu {
    display: flex;
    align-items: flex-end;
    flex: 1;
    .logo {
      margin-right: 80px;
      width: 157px;
      img {
        width: 100%;
      }
    }
    .menu {
      ul {
        li:not(:last-child) {
          margin-bottom: 22px;
        }
      }
    }
  }
  &__contacts {
    flex: 1;
    flex-direction: column;
    align-items: center;
    &-wrapper {
      .time {}
      .phone {
        margin-top: 22px;
      }
      .social {
        justify-content: flex-start;
        margin-top: 22px;
        &__block {
          &:not(:first-child) {
            margin-left: 15px;
          }
        }
      }
    }
  }
  &__auth {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .personal {
      &__title {}
      &__icon {}
    }
    .org {
      margin-top: 68px;
      p {
        font-size: 12px;
      }
    }
  }
}