@media (min-width: 768px) {
  .header.no-desktop {
    display: none;
  }
  .no-desktop {
    display: none;
  }
}

.header {
  min-height: 155px;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.1);
  .container {
    display: flex;
    justify-content: space-between;

    .header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .logo {
        img {
          width: 90px;
        }
      }

      .menu-actions-block {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 50%;

        .menu {
          ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            li:not(:first-child) {
              margin-left: 50px;
            }
            li {
              a {
                letter-spacing: 0.225em;
                font-size: 18px;
                white-space: nowrap;
              }
            }
          }
        }

        .actions {
          margin-left: 60px;
          display: flex;
          align-items: flex-start;
          .action-block {
            position: relative;
            .counter {
              position: absolute;
              bottom: -5px;
              right: -5px;
              width: 16px;
              height: 16px;
              border-radius: 50%;
              background: #C24829;
              display: flex;
              align-items: center;
              justify-content: center;
              span {
                color: #fff;
                font-size: 10px;
              }
            }
            .cart-notification {
              display: none;
              top: calc(100% + 15px);
              right: -10px;
              position: absolute;
              width: 300px;
              height: auto;
              border: 1px solid #babbc1;
              background: #fff;
              border-radius: 3px;
              .cart-notification-box {
                position: relative;
                width: 100%;
                padding: 20px 12px;
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .cart-notification-box-close {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;
                  margin-top: 7px;
                }
                .cart-notification-box-arrow {
                  width: 10px;
                  height: 10px;
                  transform: rotate(45deg);
                  position: absolute;
                  right: 15px;
                  top: -6px;
                  border-top: 1px solid #babbc1;
                  border-left: 1px solid #babbc1;
                  background: #fff;
                }
                .cart-notification-box-text {
                  p {
                    font-size: 16px;
                    letter-spacing: 0.225em;
                    text-align: left;
                  }
                }
              }
            }
            .cart-notification.active {
              display: block;
            }
          }

          .action-block:not(:first-child) {
            margin-left: 10px;
          }

          .action-block.likes {
            margin-left: 16px;
          }
        }
      }
    }

    .burger {
      display: none;
      margin-top: 10px;
    }

    .mobile-menu {
      display: none;
      padding: 0;
    }
  }
}
@media (max-width: 991px) {
  .header {
    .container {
      .header-wrapper {
        .logo {
          img {}
        }
        .menu-actions-block {
          .menu {
            ul {
              li:not(:first-child) {
                margin-left: 20px;
              }
              li {
                a {}
              }
            }
          }
          .actions {
            .action-block {
              position: relative;
              .counter {
                span {}
              }
            }

            .action-block:not(:first-child) {}

            .action-block.likes {}
          }
        }
      }

      .burger {}
      .mobile-menu {}
    }
  }
}
@media (max-width: 769px) {
  .header {
    min-height: 92px;
    background: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    .container {
      flex-direction: column;
      .header-wrapper {
        padding: 20px 0;
        align-items: flex-start;
        .logo {
          img {
            filter: invert(1);
            width: 65px;
            //transition: 0.4s;
          }
          img.mobile-version {
            width: 260px;
          }
        }
        .menu-actions-block {
          display: none;
        }
      }
      .burger {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 46px;
        }
      }
      .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        top: 92px;
        left: 0;
        height: 0;
        z-index: 1000;
        background: #000;
        overflow: hidden;
        &-list {
          margin-top: 30px;
          ul {
            li {
              &:not(:first-child) {
                margin-top: 13px;
              }
              a {
                color: #fff!important;
                font-size: 26px;
                letter-spacing: 0.225em;
                text-transform: lowercase;
              }
            }
          }
        }
        &-contacts {
          margin-top: 43px;
          a, p {
            filter: invert(1);
            font-size: 26px;
            letter-spacing: 0.225em;
            text-transform: lowercase;
            font-weight: 800;
          }
        }
        &-socials {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 45px;
          .mobile-menu-social-icon {
            &:not(:first-child) {
              margin-left: 30px;
            }
            img {
              filter: invert(1);
              width: 40px;
            }
          }
        }
        &-actions {
          display: flex;
          width: 100%;
          margin-top: 40px;
          .cart-likes {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .action-block {
              position: relative;
              &:not(:first-child) {
                margin-left: 32px;
              }
              .icon {
                img {
                  filter: invert(1);
                  width: 44px;
                }
              }
              .counter {
                position: absolute;
                bottom: -5px;
                right: -5px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: #C24829;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                  color: #fff;
                  font-size: 10px;
                }
              }
            }
          }
          .auth {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            .action-block {
              .icon {
                img {
                  filter: invert(1);
                  width: 44px;
                }
              }
            }
          }
        }

      }
    }
  }
  .header.mobile-menu-open {
    height: 780px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .header-wrapper {
        height: 250px;
        align-items: flex-start;
        .logo {
          img {
            width: 280px;
          }
        }
      }
      .mobile-menu {
        height: 530px;
      }
    }
  }
}