.accordion {
  .accordion-item {
    border: none;
    .accordion-button {
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */

      letter-spacing: 0.225em;
      text-decoration-line: underline;
      color: #000;
      &::after {
        display: none!important;
      }
      &:focus {
        box-shadow: none;
      }
    }
    .accordion-button:not(.collapsed) {
      background-color: #fff;
      .accordion-button {

      }
    }
    .accordion-collapse{
      background: #F5F5F5;
      .accordion-body {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.1em;
      }
    }
  }
}