.blur-block {
  padding: 0 0 0 40px;
  height: 320px;
  width: 314px;;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.3);
  .link {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 42px;
    &-text {
      display: flex;
      align-items: flex-end;
      line-height: 1;
      margin-top: auto;
      color: #fff;
      margin-bottom: -4px;
      padding: 0 13px 0 0;
    }
    &-arrow {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  .texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: calc(100% - 42px);
    .large-text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span {
        font-family: 'Aromanus', sans-serif;
        font-size: 46px;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: initial;
      }
      .large-text-arrow {
        width: 28px;
        height: 28px;
        transform: rotate(90deg);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -3px;
        margin-left: 40px;
        img {
          width: 100%;
        }
      }
    }
    .small-text {}
  }
}
.blur-block.around-padding {
  padding: 40px;
}
@media (max-width: 769px) {
  .blur-block {
    padding: 0 0 0 40px;
    height: 360px;
    width: 314px;;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.3);
    .link {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      height: 42px;
      &-text {
        display: flex;
        align-items: flex-end;
        line-height: 1;
        margin-top: auto;
        color: #fff;
        margin-bottom: -4px;
        padding: 0 13px 0 0;
      }
      &-arrow {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
    .texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: calc(100% - 42px);
      .large-text {
        span {
          font-size: 40px;
        }
      }
      .small-text {}
    }
  }
}