a.btn {
  display: inline-flex!important;
}
.btn.border-button {
  border: 1px solid #000;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .border-button-icon.right-icon {
    margin-left: 10px;
  }
  .border-button-icon.left-icon {
    margin-right: 10px;
  }
  &:focus {
    box-shadow: 0 0 10px #00000020;
  }
  .border-button-icon {
    transition: 0.2s;
  }
  span {
    transition: 0.2s;
  }
  &:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
    span {
      color: #fff;
    }
    .border-button-icon {
      filter: invert(1);
    }
  }
}
.btn.border-button.black-button {
  border-radius: 0;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  &:focus {
    box-shadow: 0 0 10px #00000020;
  }
  &:hover {
    border: 1px solid #000;
    background: #000;
    color: #fff;
  }
}
.btn.border-button.gray-button {
  border-radius: 0;
  border: 1px solid #BABBC1;;
  background: #BABBC1;
  color: #000;
  &:focus {
    box-shadow: 0 0 10px #00000020;
  }
  &:hover {
    border: 1px solid #BABBC1;
    background: #a8a9ad;
    color: #fff;
  }
}