.personal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  border: none;
  &__title {
    padding: 0 17px 0 0;
  }
  &__icon {}
}

.custom-input {
  background: transparent;
  text-align: center;
  margin: 0;
  height: 83px;
  border: 1px solid #000;
  &::placeholder {
    font-size: 16px;
  }
  &:focus {
    &::placeholder {
      display: none;
    }
  }
}
@import "buttons";
@import "checkboxes";
@import "blur-block";