.personal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  border: none;
  &__title {
    padding: 0 17px 0 0;
  }
  &__icon {}
}

.custom-input {
  background: transparent;
  text-align: center;
  margin: 0;
  height: 83px;
  border: 1px solid #000;
  outline: none;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.225em;
  &::placeholder {
    font-size: 16px;
  }
  &:focus-visible {
    border: 1px solid #BABBC1;
    &::placeholder {
      color: transparent;
    }
  }
  &:focus {
    border: 1px solid #BABBC1;
    &::placeholder {
      display: none;
      color: transparent!important;
    }
    &:focus {
      &::placeholder {
        color: #000;
        font-weight: 500;
      }
    }
  }
}
.custom-input.error {
  border: 1px solid red!important;
}
.custom-input.custom-input-small {
  height: 50px;
  font-size: 12px!important;
  &::placeholder {
    color: #000;
    font-size: 12px;
    font-weight: 500;
  }
}
.custom-input.white-input {
  border: 1px solid #fff;
  color: #fff;
  &::placeholder {
    color: #fff;
  }
}
.info-block-label {
  padding: 10px;
  display: inline-flex;
  background: #000;
  span {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.225em;
  }
}
.info-block-label.red-label {
  background: #C24829;
  span {
    color: #fff;
  }
}
@import "buttons";
@import "checkboxes";
@import "blur-block";
@import "accordion-restyle";
@import "product-card";
@import "product-card-slider";
@import "product-detail-card";
@import "swiper-sliider";
@import "notification";