@import "src/scss/general/normalizer";
@import "src/scss/elements/elements";
@import "src/scss/general/fonts";
@import "src/scss/general/header";
@import "src/scss/main_page/main_page";
@import "src/scss/collections_page/email-subscription-block";
@import "src/scss/collections_page/delivery-block";
@import "src/scss/payment-info/payment-info";
@import "src/scss/cart/cart-page";
@import "src/scss/account/account-page";
@import "src/scss/collections_page/collections-first-block";
@import "src/scss/collection-card-page/collection-card-page";
@import "src/scss/general/footer";
* {
  font-family: 'Akrobat', sans-serif;
  letter-spacing: initial;
  font-size: 18px;
}
//.gray-background {
//  background: linear-gradient(#f9f9f9, #fff);
//}