@import "src/scss/general/normalizer";
@import "src/scss/elements/elements";
@import "src/scss/general/fonts";
@import "src/scss/general/header";
@import "src/scss/about/about";
@import "src/scss/main_page/main_page";
@import "src/scss/collections_page/email-subscription-block";
@import "src/scss/collections_page/delivery-block";
@import "src/scss/payment-info/payment-info";
@import "src/scss/cart/cart-page";
@import "src/scss/account/account-page";
@import "src/scss/product-detail-card-page/product-detail-card-page";
@import "src/scss/collections_page/collections-first-block";
@import "src/scss/collection-card-page/collection-card-page";
@import "src/scss/auth-page/auth-page";
@import "src/scss/password-page/password-page";
@import "src/scss/general/footer";
* {
  font-family: 'Akrobat', sans-serif;
  letter-spacing: initial;
  font-size: 18px;
}
//.gray-background {
//  background: linear-grcadient(#f9f9f9, #fff);
//}
.recomended-products-title {
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.225em;
    text-transform: lowercase;
  }
}
.container {
  @media (max-width: 431px) and (min-width: 414px){
    padding: 0 40px!important;
  }
  @media (max-width: 415px) {
    padding: 0 20px!important;
  }
}